@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import 'keen-slider/keen-slider.min.css';

@layer base {
  * {
    @apply text-stone-50;

    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

input,
textarea {
  @apply bg-transparent text-neutral-950 border-b border-neutral-300 w-full px-0 pt-6 pb-2 placeholder-transparent focus:outline-none focus:border-neutral-950 transition duration-200;
}

.word,
.char,
.line {
  outline: 1px dashed #333;
  border-radius: 10px;
}
